.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 11%;
    position: relative;
}

.title {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
    z-index: 5;
}

.url-container {
    font-size: 50px;
    color: white;
    z-index: 5;
}

.moon {
    z-index: 5;
    position: absolute;
    width: 120%;
    height: 100%;
    background: #65677d;
    border-radius: 100%;
    bottom: -50%;
    right: -10%;
    box-shadow: 0px 30px 30px 41px white;
}

.moon::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 8%;
    background: #55586d;
    border-radius: 100%;
    top: 10%;
    left: 23%;
    transform: rotate(-11deg);
    box-shadow: inset -1px 9px 18px 9px #32304ce6;
}

.moon::before {
    content: '';
    position: absolute;
    width: 19%;
    height: 15%;
    background: #55586d;
    border-radius: 100%;
    top: 14%;
    right: 26%;
    -webkit-transform: rotate(-11deg);
    transform: rotate(9deg);
    box-shadow: inset 12px 9px 23px 14px #32304ce6;
}

.star {
    position: absolute;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 16px 7px white;
}
